@font-face {
    font-family: 'fazeta-blackcaptiuploadedfile';
    src: url('/assets/font/fazeta_caption_black-webfont.woff2') format('woff2'), url('/assets/font/fazeta_caption_black-webfont.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'fazeta-regularcapuploadedfile';
    src: url('fazeta_caption_regular-webfont.woff2') format('woff2'), url('fazeta_caption_regular-webfont.woff') format('woff');
    font-weight: 200;
}

@media all {
    html,
    body {
        width: 297mm;
        height: 420mm;
        font-family: fazeta-blackcaptiuploadedfile;
        color: white;
        font-weight: 200!Important;
        position: relative;
        font-weight: 200;
    }
    *,
    *:before,
    *:after {
        border: 0px;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        -webkit-print-color-adjust: exact !important;
        /* Chrome, Safari */
        color-adjust: exact !important;
        /*Firefox*/
    }
    h1 {
        font-size: 70pt;
        font-weight: 200;
    }
    h2 {
        font-size: 70pt;
        font-weight: 200;
    }
    h3 {
        font-size: 35pt;
        font-weight: 200;
    }
    h4 {
        font-size: 25pt;
        font-weight: 200;
    }
    li {
        list-style: none;
    }
    div#wrapper {
        width: 298mm;
        height: 420mm;
    }
    header h2 {
        margin: -35mm 0 0 0;
    }
    main {
        margin: 15mm 0 0 0;
        height: 250mm;
        overflow: hidden;
    }
    main div.inner div {
        margin: 0 0 20mm 0;
    }
    main div.inner div h3 {
        line-height: 0mm;
        margin: 12mm 0 15mm 0;
    }
    main div.inner div h4 {
        line-height: 0mm;
        margin: 0mm 0 0 0;
    }
    sidebar {
        font-size: 180pt;
        position: absolute;
        min-width: 420mm;
        top: 178mm;
        left: -200mm;
    }
    sidebar div {
        min-width: 420mm;
        text-align: center;
        position: absolute;
        transform: rotate(-90deg);
    }
    header {
        width: 100%;
        text-align: center;
    }
    footer {
        font-size: 20pt;
        position: absolute;
        bottom: 8mm;
    }
    footer ul {
        line-height: 8mm;
    }
    footer ul h4 {
        margin: 5mm 0 2mm 0;
    }
    footer div.time-table {
        margin: 10mm 0 15mm 0;
    }
    .debug {
        outline: 2px solid red;
    }
}

@page {
    size: A3 portrait;
    margin: 0;
}